<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NeteaseDownloadQuality" value="0"/>
    <add key="NeteaseCookies" value="0"/>
    <add key="NeteaseRetryLimit" value="5"/>
    <!--重新访问的基础时间，实际时间随重试次数上升-->
    <add key="NeteaseRetryBaseDuration" value="2"/>
    <add key="Write163Key" value="True"/>
    <add key="NeteaseTransportTaskLimit" value="2"/>
    <add key="LocalTransportTaskLimit" value="20"/>

    <add key="QueryMaximum" value="5000"/>
    <add key="DefaultMusicDirectory" value=".\Download"/>
    <add key="MusicDirectory" value=".\Download"/>

    <add key="Volume" value="0.2"/>
  </appSettings>
</configuration>